.form_control {
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    font-weight: bolder;
}

.form_control input {
    padding: .7em;
    border-radius: 30px;
    border: none;
}

.form_control input::placeholder {
    color: #7b7b7b;
}

@media (max-width: 2560px) {
    .form_control label {
        font-size: 35px;
    }
    .form_control input {
        padding: 30px;
        font-size: 35px;
        border-radius: 50px;
    }
    .form_control input::placeholder {
        font-size: 30px;
    }
}

@media (max-width: 1440px) {
    .form_control label {
        font-size: 20px;
    }
    .form_control input {
        padding: 15px;
        font-size: 20px;
    }
    .form_control input::placeholder {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .form_control label {
        font-size: 15px;
    }
    .form_control input {
        padding: 10px;
        font-size: 15px;
    }
    .form_control input::placeholder {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .form_control label {
        font-size: 12px;
    }
    .form_control input {
        padding: 8px;
        font-size: 12px;
    }
    .form_control input::placeholder {
        font-size: 12px;
    }
}
