.modal{
    background-color:#f2f2f2;
    text-align: center;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    border: 1px solid #0d0d0d;
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    
}

.btn_container {
    display: flex;
    justify-content: center;
}
.btn {
    border: none;
    padding: 20px 45px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 40px;
    background-color: #0d0d0d;
    color: #f2f2f2;
    -webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.btn:hover {
    border: 1px solid #ececec;
    background-color: #ccc;
}

.msg {
    color: #0d0d0d;
}

@media (max-width: 2560px) {
    .modal {
        font-size: 45px;
        padding: 100px;
    }
    .btn {
        font-size: 35px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1440px) {
    .modal {
        font-size: 25px;
        padding: 50px;
    }
    .btn {
        font-size: 18px;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 15px 35px;
    }
}

@media (max-width: 1024px) {
    .modal {
        font-size: 20px;
        padding: 30px;
    }
    .btn {
        font-size: 15px;
        margin-top: 30px;
        margin-left: 35px;
        margin-right: 35px;
        padding: 10px 30px;
    }
}

@media (max-width: 768px) {
    .modal {
        font-size: 18px;
        padding: 25px;
    }
    .btn {
        font-size: 15px;
        margin-top: 30px;
        margin-left: 35px;
        margin-right: 35px;
        padding: 8px 25px;
    }
}

@media (max-width: 320px) {
    .modal {
        font-size: 15px;
        padding: 15px;
    }
    .btn {
        font-size: 12px;
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px 20px;
    }
}


