.input_search {
    padding: 5px 40px;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
}

@media (max-width: 2560px) {
    .input_search {
        font-size: 30px;
    }     
}

@media (max-width: 2000px) {
    .input_search {
        font-size: 20px;
    }
}

@media (max-width: 1580px) {
    .input_search {
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    .input_search {
        font-size: 12.5px;
    }
}

@media (max-width: 590px) {
    .input_search {
        width: 100%;
        margin-bottom: 10px;
    }
}

