.container {
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}