.btn {
    background-color: #0D0D0D;
    color: #f2f2f2;
    padding: 5px 20px;
    text-emphasis: none;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.btn:hover {
    color: #737373;
}

@media (max-width: 2560px) {
    .btn {
        font-size: 50px;
        padding: 5px 80px;   
    }
}

@media (max-width: 2000px) {
    .btn {
        font-size: 35px;
    }
}

@media (max-width: 1580px) {
    .btn {
        font-size: 20px;
        padding: 5px 60px;
    }
}

@media (max-width: 1024px) {
    .btn {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .btn {
        font-size: 13px;
        padding: 5px 45px;
    }
}