.navbar {
    padding: 25px 30px 50px 45px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 75px;
    width: 160px;
    text-align: center;
   
}

.icon {
    height: 30px;
    width: 30px;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
}
