.home_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 24rem;
}

.home_container h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.home_container p {
    margin-bottom: 45px;
    color: #7b7b7b;
}

.home_btn {
    text-align: center;
}

@media (max-width: 2560px) {
    .home_container h1 {
        font-size: 60px;
    }
    .home_container p {
        font-size: 40px;
    }
    .home_container {
        height: 700px;
    }
}

@media (max-width: 2000px) {
    .home_container h1 {
        font-size: 45px;
    }
    .home_container p {
        font-size: 30px;
    }
    .home_container {
        height: 600px;
    }
} 
@media (max-width: 1580px) {
    .home_container h1 {
        font-size: 35px;
    }
    .home_container p {
        font-size: 20px;
    }
    .home_container {
        height: 350px;
    }
}

@media (max-width: 1440px) {
    .home_container {
        height: 500px;
    }
}

@media (max-width: 1024px) {
    .home_container h1 {
        font-size: 25px;
    }
    .home_container p {
        font-size: 16px;
    }
    .home_container {
        height: 300px;
    }
}

