.product_container {
    padding-top: 50px;  
}

.details_container {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    flex-wrap: wrap;
    width: 100%;
}

.btn_container {
    text-align: right;
}

.btn {
    background-color: #0D0D0D;
    color: #f2f2f2;
    padding: 0.5em 1em;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    font-size: 15px;
}

.btn:hover {
    color: #737373;
}

.product_info {
    width: 100%;
    display: flex;
    padding: 20px 20px 0px 20px;
}

.product_info img {
    height: 130px;
    width: auto;
}

.product_info span {
   margin-left: 20px;
}

.product_info .space {
    margin-top: 20px;
}

.btn_remove_container {
    text-align: right;
}

.btn_remove {
    color: #0D0D0D;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn_remove:hover {
    color: #737373;
}

@media (max-width: 2560px) {
    .btn {
        font-size: 40px;
        padding: 10px 30px;
    }
    .btn_remove {
        font-size: 40px;
    }
    .product_info span {
        font-size: 40px;
    }
    .product_info img {
        height: 320px;
    }
}

@media (max-width: 1440px) {
    .btn {
        font-size: 25px;
        padding: 8px 30px;
    }
    .btn_remove {
        font-size: 25px;
    }
    .product_info span {
        font-size: 22px;
    }
    .product_info img {
        height: 180px;
    }
}

@media (max-width: 1024px) {
    .btn {
        font-size: 18px;
        padding: 6px 20px;
    }
    .btn_remove {
        font-size: 20px;
    }
    .product_info span {
        font-size: 18px;
    }
    .product_info img {
        height: 150px;
    }
}

@media (max-width: 768px) {
    .btn_remove {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .btn {
        font-size: 15px;
        padding: 6px 20px;
    }
    .btn_container {
        text-align: center;
    }
    .btn_remove {
        font-size: 18px;
    }
    .product_info span {
        margin-left: 15px;
        font-size: 18px;
    }
    .product_info {
        flex-direction: column;
    }
    .product_info img {
        height: auto;
    }
}

@media (max-width: 375px) {
    .product_info span {
        margin-left: 10px;
        font-size: 15px;
    }
    .product_info {
        flex-direction: column;
    }
    .product_info img {
        height: auto;
    }
}

