* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: #0d0d0d;
border: none;
}

/* a {
    font-size: .8rem;
   padding-bottom: 60px;
}

a:hover {
    color: #737373;
} */

.login_container {
    background-color: #f2f2f2;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    padding: 18px 18px 18px 30px;
}

form {
    margin-top: 20px;
    margin-bottom: 30px; 
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: 15px;
}

.forget_pass {
    text-align: center;
    display: block;
    padding: auto;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #f2f2f2;
    background-color: #737373;
    cursor: pointer;
}

@media (max-width: 2560px) {
    .login_container {
        width: 40%;
    }
    .forget_pass {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 70px;
    }
}

@media (max-width: 1440px) {    
    .forget_pass {
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

@media (max-width: 1024px) {
    .login_container {
        margin-top: 5px;
    }
    .forget_pass {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .login_container {
        width: 60%;
    }
}

@media (max-width: 425px) {
    .login_container {
        width: 100%;
        margin-top: 10px;
    }
    .forget_pass {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .login_container {
        width: 100%;
        margin-top: 0;
    }
    .forget_pass {
        font-size: 12px;
        margin-bottom: 0;
    }
}





