* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #f2f2f2;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}